target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
.project
.settings
.classpath

# Eclipse
.metadata

# Intellij
.idea/
*.iml
*.iws
*.log
data
application.properties

#OS X
.DS_Store
icons/node_modules/
icons/icons.svg
